# Ignore CSV files
*.csv

# Ignore installers and compressed files
*.exe
*.msix
*.tar
*.tar.gz
*.tar.xz
*.zip
*.7z

# Ignore virtual environments
venv/
gpu_env/
**/gpu_env/

# Ignore editor config
.vscode/

# Ignore python cache
__pycache__/
*.pyc

# Ignore images
*.jpg
*.jpeg
*.png

# Ignore dataset folders
data/
**/data/